@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, 
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.project-card .card-img-overlay>.streched-link:hover {
  opacity: 1;
}